<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="default_transmission" params="motor">
    <transmission name="motor${motor}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="joint${motor}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${motor}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

</robot>
